body {
  font-size: 16px;
  color: black;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: gray;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Restaurant name */
  color: black;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* Kosher cert */
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */


/* PAGE */

.menu-item{
  text-align: center;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid black;
  font-color: black;
}

.menu-item-title {
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  background-color: rgba(0,0,0,0.2);
}

.menu-item-details {
  margin-top: -10px;
  margin-left: 40px;
  margin-right: 40px;
  width: auto;
  height: auto;
  color: black;
  background-color: rgba(0,0,0,0.2);
  padding: 20px;
}
}
/* PAGE */

.box{
  width: 100%;
  overflow: visible;
}

.menu-name{
  text-align: center;
  margin-top: 0px;
  font-weight: bold;
  position: relative;
  background-color: #999999;
}

.content{
  border: 1px solid black;
  width: 90%;
  height: auto;
  margin-left: 10%;
  margin-right: 10%;
  color: black
  font-size: 25px;
  padding: 2%;
  padding-top: 50px;
  background-color: #999999;
}
/********** Large devices only **********/
@media (min-width: 1200px) {
  .container .jumbotron {
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

  /* Home Page */
  .container .jumbotron {
    height: 558px;
  }
  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
  .container .jumbotron {
    height: 432px;
  }
  /* End Home Page */
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { /* Star-K */
    height: 20px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  /* End Header */

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
  
  /* Home page */
  #menu-title, #specials-title {
    width: 280px;
    margin: 0 auto 15px;
  }

  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}



